/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [contract_id]
      ,[customer_id]
      ,[amount]
  FROM [bd2].[dbo].[contract_tbl]
  
  insert into contract_tbl values(1,25,300)
  
  create table 
  myemployees_ts0211
(firstname varchar(30),
 lastname varchar(30),
 title varchar(30),
 age numeric(2),
 salary numeric(8,2));
 
 select * from myemployees_ts0211;
 
 CREATE TABLE emp (
 empno INT PRIMARY KEY,
 ename VARCHAR(10),
 job  VARCHAR(9),
 mgr  INT NULL,
 hiredate DATETIME,
 sal  NUMERIC(7,2),
 comm  NUMERIC(7,2) NULL,
 dept  INT)

begin
insert into emp values 
	(1,'JOHNSON','ADMIN',6,'12-17-1990',18000,NULL,4)
insert into emp values 
	(2,'HARDING','MANAGER',9,'02-02-1998',52000,300,3)
insert into emp values 
	(3,'TAFT','SALES I',2,'01-02-1996',25000,500,3)
insert into emp values 
	(4,'HOOVER','SALES I',2,'04-02-1990',27000,NULL,3)
end

CREATE TABLE dept (
 deptno INT NOT NULL,
 dname VARCHAR(14),
 loc VARCHAR(13))

begin
insert into dept values (1,'ACCOUNTING','ST LOUIS')
insert into dept values (2,'RESEARCH','NEW YORK')
insert into dept values (3,'SALES','ATLANTA')
insert into dept values (4, 'OPERATIONS','SEATTLE')
end

