/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [dealer_code]
      ,[dealer_child_code]
  FROM [MiscDb].[dbo].[a]
  
  exec dbo.proc2
  
  select * from a
  
  delete from a