/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Student_Id]
      ,[Fname]
      ,[Lname]
      ,[Email]
  FROM [bd2].[dbo].[student]
  select Fname from student 
  where Lname='Halder'