
SELECT TOP 1000 [Emp_ID]
      ,[Emp_name]
      ,[Emp_Sal]
  FROM [bd2].[dbo].[Employee_Test]
 select * from [bd2].[dbo].[Employee_Test];
 insert into bd2.dbo.Employee_Test values('Chris',1500);
 select * from bd2.dbo.Employee_Test_Audit;
 insert into bd2.dbo.Employee_Test values('Audree',1900);
 update bd2.dbo.Employee_Test set Emp_Sal=1550 where Emp_ID=3;
 